    <footer id="footer">
      		<div class="container">
						<div class="row">
							<div class="col-8 col-12-medium">
                @await Html.PartialAsync("_footer-dates")
              </div>
 							<div class="col-4 col-12-medium">
                @await Html.PartialAsync("_footer-about")
              </div>
							<div class="col-4 col-6-medium col-12-small">
                @await Html.PartialAsync("_footer-first-link-section")
							</div>
							<div class="col-4 col-6-medium col-12-small">
                @await Html.PartialAsync("_footer-second-link-section")
							</div>
							<div class="col-4 col-12-medium">
                @await Html.PartialAsync("_footer-contact")
							</div>
							<div class="col-12">

								<!-- Copyright -->
									<div id="copyright">
                    @await Html.PartialAsync("_footer-copyright-credits")
									</div>
							</div>
						</div>
					</div>
    </footer>
