@{
    var mostRecentPosts = Outputs
    .FilterSources("posts/*")
    .OrderByDescending(x => x.GetDateTime("Published"))
    .Take(2)
    .ToArray();
}

<!-- Blog -->
@if (mostRecentPosts.Length > 0)
{
    <section>
        <header class="major">
            <h2>The Blog</h2>
        </header>
        <div class="row">
            @foreach (var blogPost in mostRecentPosts){
                @await Html.PartialAsync("_post-overview", blogPost)
            }
        </div>
    </section>
}
