<!-- Intro -->
<section id="intro" class="container">
    <div class="row">
        <div class="col-4 col-12-medium">
            <section class="first">
                <i class="icon solid featured fa-cog"></i>
                  <header>
                    <h2>Easy Customization</h2>
                  </header>
                <p>Key settings can be changed via <code>settings.yaml</code>. Additionally you can change many parts via <i>Partials</i></p>
            </section>
        </div>
        <div class="col-4 col-12-medium">
            <section class="middle">
                <i class="icon solid featured alt fa-bolt"></i>
                <header>
                    <h2>Support</h2>
                </header>
                <p>Something is not working as you expect? This project is actively maintained and you get support for this theme on out GitHub repository!</p>
            </section>
        </div>
        <div class="col-4 col-12-medium">
            <section class="last">
                <i class="icon solid featured alt2 fa-star"></i>
                <header>
                    <h2>HTML & CSS only</h2>
                </header>
                <p>No Bootstrap or any other dependencies. Just plain old HTML5 and CSS is used by this theme!</p>
            </section>
        </div>
    </div>
    <footer>
        <footer>
            <ul class="actions"></ul>
                <li><a href="#" class="button large">Get Started</a></li>
                <li><a href="https://github.com/suchja/Dopetrope" class="button alt large"><i class="fab fa-github"></i> Get Support</a></li>
            </ul>
        </footer>
        </ul>
    </footer>
</section>
