<div class="row">
    <div class="col-12">

        <!-- Portfolio -->
        @await Html.PartialAsync("_index-portfolio")
    </div>
    <div class="col-12">

        <!-- Blog -->
        @await Html.PartialAsync("_index-blog")
    </div>
</div>