Title: Home
Order: 1
ShowInNavBar: true
Image: /vendor/html5up-dopetrope/images/pic01.jpg
---
<div class="row">
    <div class="col-12">

        <!-- Portfolio -->
        @await Html.PartialAsync("_portfolio")
    </div>
</div>